.img1 {
	width: 50px;
	height: 50px;
}
.align{
    text-align: center;
}
.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

.li-back{
    background-color: #87CEEB !important;
}
body {
    background-color: white !important;
    color: black !important;
    font-family: Bahnschrift !important;
}
header{
    background-color: #87CEEB !important;
}
footer{
    background-color: #87CEEB!important;
}
img{
    border-radius: 10px;
}
a{
    color: white !important;
    text-decoration: none !important;
}
.imgcote{
    width: 768px;
    height: 480px;
}
.linkiris{
    color: #fd7e14 !important;
}
article{
    text-align: center;
}
button{
    background-color: #87CEEB!important;
}
.card-link{
    color: black!important;
}
