<footer class="py-3 my-4">
    <ul class="nav justify-content-center">
        {% for node in site.pages %}
        {% if node.menu %}
        <li class="nav-item">
            <a href="{{ node.permalink }}" class="nav-link px-2 text-muted">{{ node.title }}</a>
        </li>
        {% endif %}
        {% endfor %}

        <li class="nav-item">
            <a href="https://discord.gg/YR6fVaS" class="nav-link px-2 text-muted" target="_blank"
                rel="noopener noreferrer">Discord</a>
        </li>

        <li class="nav-item">
            <a href="https://status.pickaria.fr" class="nav-link px-2 text-muted">Statut</a>
        </li>
    </ul>

    <div class="d-flex justify-content-between flex-wrap pt-4 mt-4 border-top">
        <p>© 2021 Pickaria. Tous droits réservés.</p>

        <ul class="list-unstyled d-flex ms-auto">
            <li class="ms-3">
                <a class="text-decoration-none me-2" href="https://gitlab.pickaria.fr" target="_blank"
                    rel="noopener noreferrer">
                    <img src="/assets/images/social/gitlab.svg" alt="GitLab" loading="lazy" width="16" height="16">
                </a>
            </li>
            <li class="ms-3">
                <a class="text-decoration-none me-2" href="https://github.com/Pickaria" target="_blank"
                    rel="noopener noreferrer">
                    <img src="/assets/images/social/github.svg" alt="GitHub" loading="lazy" width="16" height="16">
                </a>
            </li>
            <li class="ms-3">
                <a class="text-decoration-none me-2" href="https://twitter.com/pickaria" target="_blank"
                    rel="noopener noreferrer">
                    <img src="/assets/images/social/twitter.svg" alt="Twitter" loading="lazy" width="16" height="16">
                </a>
            </li>
            <li class="ms-3">
                <a class="text-decoration-none" href="https://discord.gg/YR6fVaS" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/images/social/discord.svg" alt="Discord" loading="lazy" width="16" height="16">
                </a>
            </li>
        </ul>
    </div>
</footer>