<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-lg-3 mb-2 mb-lg-0 text-dark text-decoration-none">
        {% picture jpt-webp /assets/images/navicon.jpg class="me-2" width="32" height="32" aria-label="Pickaria" %}
    </a>

    <nav class="nav col-12 col-lg-auto mb-2 justify-content-center mb-lg-0" role="navigation">
        {% for node in site.pages %}
        {% if node.menu %}
        <div>
            {% if page.url == node.url %}
            <a href="{{ node.permalink }}" class="nav-link px-2 link-secondary" aria-current="page">{{ node.title }}</a>
            {% else %}
            <a href="{{ node.permalink }}" class="nav-link px-2 link-dark">{{ node.title }}</a>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </nav>

    <div class="col-lg-3 text-end text-nowrap">
        <a href="/#features" class="btn btn-outline-primary me-2">Découvrir</a>
        <a href="https://discord.gg/YR6fVaS" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
            Rejoins-nous !
        </a>
    </div>
</header>