<div class="modal fade " tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h2 class="fw-bold mb-0">Nous rejoindre</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-5 pt-0">
                <form class="">
                    <button class="w-100 btn btn-lg rounded-4 btn-primary" type="button" id="copyAddress">Copier l'adresse du serveur</button>
                    <small class="text-muted">Ou entrez l'adresse <pre class="d-inline">pickaria.fr</pre> dans votre jeu.</small>

                    <a class="w-100 my-2 btn btn rounded-4 btn-outline-secondary" href="https://discord.gg/YR6fVaS" target="_blank" rel="noopener">Rejoindre le serveur Discord</a>

                    <hr class="my-4">

                    <h2 class="fs-5 fw-bold mb-3">Déjà joueur ?</h2>
                    <p class="text-muted">Accède à ton espace Pickaria !</p>

                    <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-4" type="button">
                        Se connecter avec Discord
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>