<div class="col">
    <div class="card h-100 overflow-hidden text-white shadow-sm position-relative">
        {% picture {{ include.post.image }} class="object-fit-cover h-100 w-100 position-absolute" loading="lazy" alt="{{page.title}}" %}

        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-lg z-10">
            <a class="stretched-link text-decoration-none text-light pt-5 mt-5 mb-4 card-title lh-1 fw-bold"
                href="{{ include.post.url | prepend: site.baseurl }}">
                {{ include.post.title }}
            </a>
            <ul class="d-flex list-unstyled mt-auto align-items-center">
                <li class="me-auto">
                    {% picture avatar authors/{{ include.post.author }}.jpg loading="lazy" class="rounded-circle border border-white" width="32" height="32" alt="{{ author }}'s avatar" %}
                </li>
                <li class="d-flex align-items-center me-3">
                    <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#geo-fill"></use>
                    </svg>
                    <small>{{ include.post.author }}</small>
                </li>
                <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em">
                        <use xlink:href="#calendar3"></use>
                    </svg>
                    <time class="dt-published-ago" datetime="{{ include.post.date | date_to_xmlschema }}"
                        itemprop="datePublished">
                        {{ include.post.date | date: "%d/%m/%Y" }}
                    </time>
                </li>
            </ul>
        </div>
    </div>
</div>