@import "variables";
@import "bootstrap/scss/bootstrap";

* {
	font-family: 'Raleway', sans-serif;
}

.text-justify {
    text-align: justify;
}

.feature-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	margin-bottom: 1rem;
	font-size: 2rem;
	color: #fff;
	border-radius: .75rem;
}

.post-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

code {
	white-space: nowrap;
}