@import "variables";

@import "bootstrap/scss/functions";
/* Override Bootstrap's variables here */
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

.text-justify {
    text-align: justify;
}

.feature-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	margin-bottom: 1rem;
	font-size: 2rem;
	color: #fff;
	border-radius: .75rem;
}

.post-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

code {
	white-space: nowrap;
}

table {
	width: 100%;
	margin: 1em 0;

	th {
		border-bottom: solid 1px #222;
	}
}