<!DOCTYPE html>
<html lang="{{ it.lang || metas.lang }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ it.title || metas.title }} | {{ metas.site }}</title>

    <meta name="color-scheme" content="light">

    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="canonical" href="{{ url |> url(true) }}">
  </head>

  <body class="flex flex-col min-h-screen items-center px-2 bg-white dark:bg-slate-900">
    <div class="container">
      {{ include "templates/header.vto" }}
    </div>

    <main class="container grow">
      {{ content }}
    </main>

    <div class="container">
      {{ include "templates/footer.vto" }}
    </div>

    <script src="/assets/js/index.js" defer></script>
  </body>
</html>
