---
layout: layouts/base.vto
title: Accueil
url: /
menu:
  visible: true
  order: 0
---

<section
  class="container mx-auto py-5 grid lg:grid-cols-2 justify-between items-center lg:mt-20"
>
  <div>
    <h1
      class="text-5xl lg:text-7xl font-bold mb-6 text-foreground"
    >
      Le serveur est
      <span
        class="bg-clip-text text-transparent bg-gradient-to-br dark:from-red-400 dark:to-red-600 from-red-600 to-red-800 leading-normal inline-block"
      >
        fermé
      </span>
    </h1>

    <p class="text-xl lg:text-3xl mb-4 text-foreground-secondary">
      Merci d'avoir joué sur Pickaria. L'aventure est maintenant terminée.
    </p>
  </div>

  <img
    src="/assets/images/pickaria.png"
    class="hidden lg:block mx-auto w-full h-auto drop-shadow-lg"
    alt="Logo de Pickaria"
    transform-images="avif webp jpg 768"
  />
</section>
