<a
  href="{{href}}"
  class="bg-blue-300 btn"
  target="_blank"
  rel="noopener noreferrer"
>
  {{ if with_icon }}<img src="/assets/icons/discord.svg" alt="Icône de Discord" />{{ /if }}
  {{ text }}
</a>
